mat-toolbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3vh;
  
}

nav {
  display: flex;
  gap: 3vw;
  font-size:medium;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
  cursor:pointer;
}
